<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TD Forms | Responses</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/oneResponse.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="icon" href="images/Logo.png" type="image/ico" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="/js/paging.js"></script>
    <script type="text/javascript">
      $(document).ready(function(){
          $(this).scrollTop(0);
      });
    </script>
  </head>
  <body>
    <section id="response">
      
        <div class="container">
            <div class="text-left px-3">
                <h2><%= title %> </h2>
                <p><%= description %> </p>
            </div>
            <div class="pages">
                <button class="btn" onclick="window.location.href='/responses/<%=formID%>'">
                  Summary 
                </button>
                <button class="btn curr">
                  Individual 
                </button>
              </div>
            <div aria-label="nav" class="pagination-container">
                <ul class="pagination">
                    <% for( let i = 0; i < total.length; i++ ) { %>
                        <li id="<%= i+1 %>" class="page-item <%= (responseId==total[i].responseID)?'active':'' %>"><a class="page-link" href="/responses/<%= formID %>/<%= total[i].responseID %>#<%= i+1 %>"><%= i+1 %> </a></li>
                    <% } %>
                </ul>
            </div>
             <!-- <ul id="listPage">
              <% for( let i = 0; i < total.length; i++ ) { %>
                <li class="page-item"></li>
              <% } %>
            </ul> -->
            <% responses.forEach(response => { %>
                <div class="card">
                    <div class="title">
                        <%= response.title %> 
                    </div>
                    <div class="responses">
                        <ul>
                           <li><%= response.selectedVal %> </li> 
                        </ul>
                    </div>
                </div>
            <% }) %>      
        </div> 
      </section>
      <script>
        
        if($(".pagination li").length<7){
          $(".pagination-container").css("overflow", "hidden");
        }
      </script>

<%- include ("partials/footer") %>
