<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TD Forms | Responses</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/responses.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="icon" href="images/Logo.png" type="image/ico" />

  </head>
  <body>
    
    
      <section id="responses">

        <div class="container">
          <div class="text-left px-3">
            <h2><%= title %> </h2>
            <p><%= description %> </p>
          </div>
          <div class="text-left">
            <h3><%= (responses[0].length) %> Response(s)</h3>
            <div class="pages">
              <button class="btn curr">
                Summary 
              </button>
              <button class="btn" onclick="window.location.href='/responses/<%=formID%>/<%=respId%>'">
                Individual 
              </button>
            </div>
          </div>
          <% for(let i=0;i<questions.length;i++){ %>
              <div class="card">
                <div class="title">
                  <%= questions[i].title %> 
                </div>
                <div class="responses">
                  <ul>
                  <% for( let j = 0; j < responses.length; j++ ) { %>
                    <% if (j==0) { %>
                    <span id="total"><%= responses[j].length %> responses</span>                  
                      
                    <% } %>

                    <% for( let k = 0; k < responses[j].length; k++ ) { %>  
                      <% if(responses[j][k].questionID == questions[i].questionID){%>
                        <li>
                          <%= responses[j][k].selectedVal  %> 
                        </li>
                      <% } %> 
                    <% } %>
                  <% } %>
                  </ul>
                </div>
              </div>
        <% } %>
        </div>
        
      </section>
<%- include ("partials/footer") %>
