<%- include ("partials/header") %>
  <section id="view">
    <div class="container">
   <% if (form.length!=0) { %>
      <% form.forEach((data)=>{%>
      <div class="card" id="<%= data.formID %>">
        <span class="title"><%= data.title %></span>
        <!-- <span id="id">#<%= data.formID %> </span> -->
        <span id="id" title="Copy link"><i class="fas fa-share-alt share" data-address="<%= data.formID %>"></i></span>
        <div class="date"><%= (`${data.Date}`).substr(4,11) %> </div>
        <div class="desc"><%= data.description %></div>
        <!-- <div class="responses">Responses: 0 </div> -->
        <div class="buttons">
          <button class="btn btn-dark view" onclick="window.open('/view/<%= data.formID %>')">View Form</button>
          <button class="btn btn-dark view" onclick="window.location.href='/responses/<%= data.formID %>'">View Responses</button>
        </div>  
      </div>
      <% }) %>
      <% } else{%>
        <div class="empty">
          <i class="fas fa-align-justify"></i>
          <p>You haven't created any forms yet.</p>
        </div>
      <% } %> 
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<%- include ("partials/footer") %>